<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="pt.isel.pdm.chatr.CHaTrApplication"
        android:label="CHaTr"
        android:icon="@mipmap/ic_launcher">

        <!-- HabitsActivity - Launcher -->
        <activity android:name="pt.isel.pdm.chatr.HabitsActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AddHabitActivity -->
        <activity
            android:name="pt.isel.pdm.chatr.AddHabitActivity"
            android:parentActivityName="pt.isel.pdm.chatr.HabitsActivity" />

        <!-- StatisticsActivity -->
        <activity
            android:name="pt.isel.pdm.chatr.StatisticsActivity"
            android:parentActivityName="pt.isel.pdm.chatr.HabitsActivity" />
    </application>

</manifest>
